.footer-navigation ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  @include desktop {
    justify-content: flex-end;
  }
  li:first-child {
    a {
      padding-left: 0;
    }
  }
  li {
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
    list-style-type: none;
    &::after {
      content: '|';
    }
  }
}

.site-info {
  font-weight: 300;
  margin-bottom: 50px;
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
  @include desktop {
    justify-content: flex-end;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0;
    @include tablet {
      padding-left: 10px;
    }
  }
}
