.logo {
  margin-top: 2em;
  margin-bottom: 1em;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    text-align: center;
  }
  img {
    width: 300px;
    @include tablet {
      width: 500px;
    }
    @include desktop {
      width: 700px;
    }
  }
}