/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About Page */

.page-template-default {
  .entry-content {
    margin: 0;
    display: block;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .site-main {
    margin-top: 50px;
  }
  .entry-title {
    font-size: 1.5em;
    font-weight: bold;
  }
}


/* All Archives Page */

.browse-archives {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.2em;
    }
  }
}


/* Submit a Quote Page */

#quote-submission-form {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    label {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    input, textarea {
      background-color: $color__background-body;
      border: 2px solid $color__green-brand;
      border-radius: 3px;
    }
  }
  input[type="submit"] {
    background-color: $color__background-body;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid $color__green-brand;
    color: $color__green-brand;
    font-size: 1em;
    padding: 10px 25px;
    &:hover {
      color: darken($color__green-brand, 10%);
      border-color: darken($color__green-brand, 10%);
    }
  }
}