/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About Page */

.page-template-default {
  .entry-content {
    margin: 0;
    display: block;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .site-main {
    margin-top: 50px;
  }
  .entry-title {
    font-size: 1.5em;
    font-weight: bold;
  }
}


/* All Archives Page */

/* Submit a Quote Page */
